*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

a {
  color: $color-black-80;
  &:hover, &:focus {
    color: $color-black-60;
  }
  &:active, &:visited {
    color: $color-black-80;
  }
}

body {
  min-height: 100vh;
  color: $color-black-60;
  background: $color-background;
  transition: color 0.5s, background-color 0.5s;
  font-family: "Playfair Display", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include mq('md', min) {
    font-size: 14px;
    line-height: 24px;
  }
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  @include mq('md', min) {
    font-size: 36px;
  }
}

.container {
  max-width: 90%;
  width: 1320px;
  margin: auto;
}
