$color-background: #fdfdfd;
$color-black-80: #121221;
$color-black-60: #444444;
$color-black-40: #6c6c6c;
$color-black-20: #949494;
$color-white: #f8f8f8;

$breakpoints: ('xs': 400px, 'sm': 768px, 'md': 992px, 'lg': 1200px);
